<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <div class="row">
      <div class="col-sm">
        <%= link_to "Main Page".html_safe, "/", :class => "btn btn-primary", :style => "width:100%" %>
      </div>
      <div class="col-sm">
        <%= link_to "Backlog".html_safe, "back_log", :class => "btn btn-primary", :style => "width:100%" %>
      </div>
      <div class="col-sm">
        <%= link_to "Sprint".html_safe, "sprint", :class => "btn btn-primary", :style => "width:100%" %>
      </div>
      <%if is_logged then%>
        <div class="col-sm">
          <%= link_to "Logout".html_safe, "logout", :class => "btn btn-primary", :style => "width:100%" %>
        </div>
      <%else %>
        <div class="col-sm">
          <%= link_to "Login".html_safe, "login", :class => "btn btn-primary", :style => "width:100%" %>
        </div>
        <div class="col-sm">
          <%= link_to "Register".html_safe, "signup", :class => "btn btn-primary", :style => "width:100%" %>
        </div>
      <%end %>
    </div>
  </nav>
</div>
